# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs
*.log

# Editor/IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Build/temp directories
/dist
/build
/tmp
/.tmp

# Other
.cache/
.vercel
.netlify 